[Desktop Entry]
Comment=DEEPIN AI DAEMON
Exec=systemctl --user enable deepin-ai-daemon.service --now --runtime
Name=Deepin AI Daemon
NoDisplay=true
OnlyShowIn=Deepin;DDE
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/deepin-ai-daemon.svg
X-Deepin-Vendor=user-custom
